body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#timeline-container {
    width: 90%;
    height: 60%;
    position: relative;
    overflow: hidden;
}

svg {
    width: 200%;
    height: 100%;
    background: white;
    border: 1px solid #ccc;
    /* pointer-events: none; */
}



.card {
    fill: #f0f0f0;
    stroke-width: 1;
    cursor: pointer;
    rx: 10px;  /* Add this line for rounded corners */
    ry: 10px;  /* Add this line for rounded corners */
}
/* 
/* .text {
    font-size: 12px;
    fill: #000;  /* Change this to black */
    /* pointer-events: none; */
/* } */ 